.mosaic-rectangles.mosaic-with-gutter[data-scroll="true"] .scroll-container > div {
    padding: 0px 5px;
}

.col-md-3 {
    width: 25%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
}

.col-sm-3 {
    width: 25%;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
    float: left;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {
    float: left;
}

.mosaic-view.mosaic-with-gutter .scroll-container > div article, .mosaic-view.mosaic-with-gutter > div article {
    margin-bottom: 10px;
}

.mosaic-view article {
    overflow: hidden;
    position: relative;
}

.content-block article {
    margin-bottom: 40px;
}

article{
	display: block;
}

.mosaic-view article section {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    white-space: normal;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.85) 100%) repeat scroll 0% 0% transparent;
}

